<h2>Shopping list</h2>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <app-shopping-edit (addIngredients)="onIngredientsAdded($event)" (clearIngredients)="onIngredientsCleared()">
      </app-shopping-edit>
    </div>
    <div class="col-sm-8">
      <ul class="list-group my-5" *ngIf="ingredient; else infoText">
        <a hover class="list-group-item" style="cursor: pointer" *ngFor="let ingredientItem of ingredient">
          {{ ingredientItem.name }} ({{ ingredientItem.amount }})
        </a>
      </ul>

      <ng-template #infoText>
        <p>Please add an ingredient.</p>
      </ng-template>
    </div>
  </div>
</div>