<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="featuredSection === 'recipe' "></app-recipes>
      <hr>
      <app-shopping-list *ngIf="featuredSection === 'shopping-list' "></app-shopping-list>
    </div>
  </div>
</div> -->
